*{
    margin : 0;
    padding : 0;
}
body {
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeeee;
    min-height: 100vh;
}
.container{
    background-color: white;
    padding : 2rem;
    border-radius: 1rem;
}