*{
    margin : 0;
    padding : 0;
}
body {
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: #ebd8c3;
    min-height: 100vh;
}
.container{
    background-color: #fff6ea;
}