*{
    margin : 0;
    padding : 0;
}
.logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #1c1c1c;; 
}

#styled-logo {
    max-height: 100%; 
    max-width: 100%; 
}
.choices{
    height : 200px;
    width : 200px;
}
#pic1{
    height : 140px;
    width : 140px;
    object-fit: cover;
    border-radius: 70%;
    border : 10px solid white;
}
#pic2{
    height : 145px;
    width : 145px;
    object-fit: cover;
    border-radius: 70%;
    border : 10px solid white;
}
#pic3{
    height : 150px;
    width : 150px;
    object-fit: cover;
    border-radius: 70%;
    border : 10px solid white;
}