*{
    margin : 0;
    padding : 0;
}
.logo{
        width: 100%;
        height: 100px;
        background-image: url("RPSGame.png"); 
        background-repeat: repeat; 
        
        margin: 0; 
    }
