*{
    margin : 0;
    padding : 0;
}
body{
    background-color: #D3B88C;
    text-align: center;
}
.container{
    height : 70vh;
    display : flex;
    justify-content:  center;
    align-items : center;
}
.Game{
    margin-top: 35px;
    height : 25vmin;
    width : 25vmin;
    display : flex;
    flex-wrap : wrap;
    justify-content:  center;
    align-items : center;
    gap : 1.2vmin;
}
.box{
    height : 19vmin;
    width : 19vmin;
}